main {
  background: #0a192f;
  color: #ccd6f6;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  padding: 2rem;
}


main {
  .intro {
    color: #64ffda;
    font-size: 1rem;
  }

  .name {
    font-size: 3rem;
    margin: 0.5rem 0;
    color: #ccd6f6;
  }

  .subtitle {
    font-size: 2.5rem;
    color: #8892b0;
    margin-bottom: 1rem;
  }

  .description {
    max-width: 600px;
    margin-bottom: 2rem;
    line-height: 1.6;
    a {
      color: #64ffda;
      text-decoration: none;
    }
  }
}
